
body{
    background: url('http://orig06.deviantart.net/8c67/f/2010/251/d/a/noble_team___black___by_elhiahcolee-d2ybizf.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero {
    background: rgba(0,0,0,.7);
    padding-top:30px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-flow: wrap;
}
.char{
    height: 450px;
    width: 550px;
    border-radius: 90%;
    margin: 10px;
    border: .5px solid black;    
}
.wep{
    height: 30%;
    width: 50%;
    margin: 2%;
    border: .5px solid black; 
}
.wep:hover{
    background: rgba(255, 255, 255, .2);
    border: .7px solid white;
    transition: 1s;
    perspective: 400px;
    transform: rotateZ(5deg);
}
.char:hover{
    width: 700px;
    height: 400px;
    border-radius: 0%;
    opacity: .5;
    border: .7px solid white;
    transition: 1s;
    perspective: 400px;
    transform: rotateZ(5deg);
}
h1{
    color: white;   
}
#modal{
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;   
    flex-direction: column;
    background: rgba(0, 0, 0, .8);
    width: 100vw;
    height: 100vh;
}
#modalpic{
    height: 600px;
    width: 900px;
}
#modalpic2{
    height: 300px;
    width: 600px;
}
#close{
    font-size: 80px;
    padding-left: 90vw;
    color: yellow;
    padding-bottom: 90vh;
    position: absolute;
}
#desc{
    color:yellow;
}