* {
    margin: 0 ;
}
nav{
    position: fixed;
    height: 40px;
    width: 100%;
}
ul {
    text-decoration: none;
    width: 100%;
    display: flex;  
    background-color: rgba(0,0,0,0.5);
    height: 30px;
    position:relative;
}

li {
    flex:1;
    height: 100%;
    display: inline-block;
    display: flex;
    text-align: center;
    
}

#logo{
    width: 100px;
    padding-right:100px;   
}

li:hover{
    background: black;
}

a{
    margin-top: 5px;
    text-decoration: none;
    color: white; 
    padding-left:90px; 

}